{% load static %}
{% include "header.html" %}


<!-- Common section for page heading   -->
<section class="common-part-page-heading">
    <div class="common-part-container">
        <div class="common-part-img-sec">
            <img src="{% static 'image/common-page-name.jpg' %}" alt="pic">
        </div>
        <div class="sub-sec-1-content">
            <h1>Meet Our Team</h1>
            <h3>Home / <span>Our Chef</span></h3>
        </div>
    </div>
</section>

<!-- secion-2 why choose us -->
<section id="fast-food-sec-2">
    <div class="fast-food-container-2">
        <div class="sub-sec-2">
            <div class="sub-sec-2-content">
                <h2>Our Strength</h2>
                <h1>WHY CHOOSE US<span> See</span></h1>
                <p>Objectively pontificate quality models before intuitive information. Dramatically <br>
                    recaptiualize
                    multifunctional materials.</p>
            </div>
        </div>
    </div>
</section>

<!-- Why Choose Us  -->
<section class="why-choose-us-section">
    <div class="why-choose-us-container">

        <div class="why-choose-us-container-box">
            <div class="why-choose-us-img-sec">
                <img src="{% static 'image/img-2.jpg' %}" alt="pic">
                <div class="why-choose-us-icon why-choose-icon-box-1-3">
                    <img src="{% static 'image/why-icon-1.png' %}" alt="icon">
                    <h1>Hygienic Food</h1>
                </div>
            </div>
        </div>

        <div class="why-choose-us-container-box why-choose-img-box-2-4">
            <div class="why-choose-us-img-sec">
                <img src="{% static 'image/img-1.jpg' %}" alt="pic">
                <div class="why-choose-us-icon">
                    <img src="{% static 'image/why-icon-2.png' %}" alt="icon">
                    <h1>Fresh Environment</h1>
                </div>
            </div>
        </div>

        <div class="why-choose-us-container-box">
            <div class="why-choose-us-img-sec">
                <img src="{% static 'image/img-4.jpg' %}" alt="pic">
                <div class="why-choose-us-icon why-choose-icon-box-1-3">
                    <img src="{% static 'image/why-icon-3.png' %}" alt="icon">
                    <h1>Skilled Chefs</h1>
                </div>
            </div>
        </div>

        <div class="why-choose-us-container-box why-choose-img-box-2-4">
            <div class="why-choose-us-img-sec">
                <img src="{% static 'image/img-3.jpg' %}" alt="pic">
                <div class="why-choose-us-icon">
                    <img src="{% static 'image/why-icon-4.png' %}" alt="icon">
                    <h1>Event & Party</h1>
                </div>
            </div>
        </div>


    </div>
</section>

<!-- secion-2  -->
<section id="fast-food-sec-2">
    <div class="fast-food-container-2">
        <div class="sub-sec-2">
            <div class="sub-sec-2-content">
                <h2> Team Of Restaurant</h2>
                <h1>Meet Our <span> Professionals</span></h1>
                <p>Objectively pontificate quality models before intuitive information. Dramatically <br>
                    recaptiualize
                    multifunctional materials.</p>
            </div>
        </div>
    </div>
</section>

<!-- chef and paty & events section  -->
<section class="chef-party-events-section chef-page-config-main-container">
    <div class="chef-party-events-container">
        <div class="chef-party-events-box-1">
            <div class="chef-party-events-img-section party-events-sub-box-1 chef-page-config">
                <img class="chef-page-config-img" src=" {% static 'image/mainchef.jpg' %}" alt="pic">
            </div>
            <div class="chef-party-events-box party-events-sub-box-1">
                <div class="chef-party-events-text-sec chef-page-config-text">
                    <h3>35 YEAR OF EXPERIENCE</h3>
                    <img src="{% static 'image/line-design.svg' %}" alt="pic">
                    <h1>Award Winning Chef</h1>
                    <p>Lorem Ipsum is simply dummy text of the printingand typesetting industry lorem Ipsum has been the
                        industrys standard dummy text ever since the when an unknown printer took a galley of type.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Our Chef  -->
<section class="chef-page-our-chef-section">
    <div class="chef-page-our-chef-container">

        <div class="chef-page-our-chef-box">
            <div class="chef-page-our-chef-img-sec">
                <img src=" {% static 'image/team-1.jpg' %} " alt="chef">
            </div>
            <div class="chef-page-our-chef-icon-sec">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="chef-page-our-chef-text-sec">
                <h1>Akash Tiwari</h1>
                <h2>French Cuisine</h2>
            </div>
        </div>

        <div class="chef-page-our-chef-box">
            <div class="chef-page-our-chef-img-sec">
                <img src=" {% static 'image/team-2.jpg' %} " alt="chef">
            </div>
            <div class="chef-page-our-chef-icon-sec">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="chef-page-our-chef-text-sec">
                <h1>Soundarya Goswami</h1>
                <h2>Chinese Cuisine</h2>
            </div>
        </div>

        <div class="chef-page-our-chef-box">
            <div class="chef-page-our-chef-img-sec">
                <img src=" {% static 'image/team-3.jpg' %} " alt="chef">
            </div>
            <div class="chef-page-our-chef-icon-sec">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="chef-page-our-chef-text-sec">
                <h1>Ketan Asodariya</h1>
                <h2>Indian Cuisine</h2>
            </div>
        </div>


    </div>
</section>



{% include "footer.html" %}